@import url("https://fonts.googleapis.com/css?family=Cantata+One");
body {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  font-family: 'Cantata One', serif; }

.state-message {
  position: relative;
  top: 225px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 3em;
  color: lightgrey;
  text-align: center; }

ul {
  margin-top: 200px; }

@keyframes alpha_in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

ul, li {
  padding: 0;
  list-style: none; }
  ul a, li a {
    height: 200px;
    text-decoration: none;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    background-size: cover;
    animation: 1s ease-in 0s 1 normal alpha_in; }
    ul a h1, li a h1 {
      color: white;
      margin: 0;
      padding: 20px 30px;
      background-color: rgba(0, 0, 0, 0.55);
      position: absolute;
      bottom: 0;
      font-weight: normal;
      font-size: 1.25em; }

.search-input-container {
  background-color: black;
  opacity: .85;
  width: 100%;
  position: fixed;
  top: 0;
  height: 200px;
  padding-left: 30px; }
  .search-input-container input {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.95);
    border: none;
    border-bottom: 2px solid white;
    font-size: 2em;
    color: white;
    padding: 20px 0;
    width: 80%;
    font-family: 'Cantata One', serif;
    margin-top: 10px;
    margin-bottom: 20px; }
  .search-input-container > div {
    padding-right: 20px; }
  .search-input-container > div, .search-input-container > div a {
    color: lightgrey;
    font-size: .95em;
    opacity: .75; }
    .search-input-container > div p, .search-input-container > div a p {
      margin: 0;
      padding: 0; }
